 .contained {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
           
           
            padding: 20px;
        }
       
        .box {
            display: inline-block;
           
            text-align: center;
            margin: 10px;
            padding: 20px;
            width: 200px;
            border: 1px solid #4CAF50;
            border-radius: 10px;
            transition: all 0.3s ease;
        }
        .box:hover {
            background-color: #4CAF50;
            color: white;
        }
        .link-name {
            color: black;
            font-weight: bold;
            margin-top: 5px;
        }
        [data-theme="dark"] .link-name {
            color: white;
        }
        .box:hover .link-name {
            color: white;
        }
.container h3{font-size:20px; !important}
        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
            text-align: center;
        }
       
        p {
            font-size: 1rem;
            margin-bottom: 20px;
        }
        .frame {
            margin: 40px auto;
            text-align: center;
        }


.custom-btn {
    min-width: 120px;
    min-height: 48px;
    margin: 12px;
 margin-left:10px;
    padding: 10px 20px;
    display: inline-block;
    text-align: center;
    font-size: 24px;
    background-color:#0000FF;
 color:#FFFFFF;
  
}
.custom-button {
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 1.5;
    text-decoration: none;
    color: white;
}

      
        .custom-btn span {
            display: block;
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.2);
            transition: left 0.3s;
        }
        .custom-btn:hover span {
            left: 100%;
        }
        .custom-btn:hover {
            background-color: yellow;
            transform: scale(1.1);
        }
        .custom-btn a {
            color: #ffffff;
            text-decoration: none;
        }
        .button-description {
            margin: 20px auto;
            text-align: left;
            max-width: 800px;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        .video-frame {
            width: 90%;
            margin: 20px auto;
        }
        iframe {
            width: 100%;
            height: 360px;
            border: none;
            border-radius: 10px;
        }
        /* Responsive Design */
        @media (max-width: 768px) {
            h1 {
                font-size: 2rem;
            }
            .custom-btn {
                font-size: 24px;
                padding: 15px 30px;
            }
            iframe {
                height: 200px;
            }
        }
