.important_link {
    top: 0;
    overflow-y: auto;
    font-size: 21px;
    text-align: left; /* Text alignment to left */
    min-height: 50px; /* Adjust this value as needed */
    min-width: 150px; /* Adjust this value as needed */
    font-family: Arial, sans-serif; /* Fallback font */
    background-color: var(--bg-color); /* Use CSS variables for dynamic theming */
    color: var(--text-color); /* Use CSS variables for dynamic theming */
}

@media screen and (min-width: 769.01px) {
    .important_link {
        position: fixed;
        left: 83%;
        height: 100%;
        width: 17%;
        padding: 1em;
        margin-bottom: 20px;
        top: 0%;
    }
}

@media screen and (max-width: 768px) {
    .important_link {
        top: 0%;
        margin: 0 auto;
        padding: 0em;
        margin-bottom: 20px;
        width: 100%; /* Ensuring full width on smaller screens */
    }
}

/* Define light mode colors */
:root {
    --bg-color: #ffffff;
    --text-color: #000000;
}

/* Define dark mode colors */
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #333333;
        --text-color: #ffffff;
    }
}
