  /*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

[data-theme="dark"] #right-sidebar ul li a { color:#FFE4B5;}
[data-theme="dark"] #right-sidebar ul li a:hover {color:#FF69B4;  }



  /*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

    
    /* General Styling */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Main Content Styling */
#main-content {
    padding: 20px;
    margin-right: 300px; /* Space for the right sidebar */
}

/* Right Sidebar Styling */
#right-sidebar {
    
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
   
    border-left: 2px solid #ddd;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
}

#right-sidebar h3 {
    margin-top: 0;
    font-size: 1.5em;
    color: #333;
}

#right-sidebar ul {text-align: left;
    list-style-type: none;
    padding: 0;
}

#right-sidebar ul li {
    margin-bottom: 10px;
}

#right-sidebar ul li a {
    text-decoration: none;
     color:black;
    font-size: 1em;
}

#right-sidebar ul li a:hover { color:blue;
    text-decoration: underline;

}
@media (min-width: 768px) { #right-sidebar {width:12%}}
/* Responsive Design for Mobile (max-width: 768px) */
@media (max-width: 768px) {
    #right-sidebar {
        position: static;
      
        height: auto;
        border-left: none;
        box-shadow: none;
        margin-top: 20px;
        padding: 15px;
        margin-right: 0;
        border-top: 2px solid #ddd;
    }

    #main-content {
        margin-right: 0;
    }
}
