# Enable the Rewrite Engine
RewriteEngine On

# Redirect requests for index.html to the root URL
RewriteRule ^index\.html$ / [L,R=301]

# URL rewriting for .html files
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html [L]

# Disable caching
<IfModule mod_headers.c>
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires "0"
</IfModule>


Redirect 301 /vyakaran.html /vyakaran-language.html
Redirect 301 /hindi-test-part-01 /hindi-test/part-01
Redirect 301 /hindi-test-part-02 /hindi-test/part-02
Redirect 301 /hindi-test-part-03 /hindi-test/part-03
