# Enable the Rewrite Engine
RewriteEngine On

# Redirect requests for index.html to the root URL
RewriteRule ^index\.html$ / [L,R=301]

# URL rewriting for .html files
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html [L]

# Disable caching
<IfModule mod_headers.c>
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires "0"
</IfModule>

<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
</IfModule>
<IfModule mod_headers.c>
    Header always set X-Frame-Options "DENY"
</IfModule>
<IfModule mod_headers.c>
    Header set Content-Security-Policy "default-src 'self'; script-src 'self' https://trusted-script-source.com; object-src 'none';"
</IfModule>
