
:root {
  --background-color: #ffffff; 
  --text-color: #000000; 
  --toggle-color: orange; 
  --toggle-border-color: white; 
  --toggle-color: lineaDr-gradient(45deg, rgb(255, 255, 255) 50%, rgb(0, 0, 0) 90%); 
}

body {background-color: var(--background-color);color: var(--text-color);}

/*============================================================================================================================================================================================================*/
 

  [data-theme="dark"] {
    
    --background-color: #212121;
    --text-color: #bababa; 
    --toggle-color: lineaDr-gradient(45deg, black 50%, white 90%); 
    --toggle-border-color: white;
  
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/  
   
    .header {box-shadow:  0 4px 6px -1px rgba(123, 123, 123, 0.284), 0 2px 4px -1px rgba(82, 81, 81, 0.226);}
    .header, .menu-inner, .menu.is-active .menu-brand, #themeToggle, .search-input, .navbar, .menu-list, .back-icon ,  .search-icon  .search-container1.open{background-color: #343238;color:white}
    .header, .menu a:link, .menu a:visited {color: rgb(245, 155, 235);} 
    .header, .menu a.active {color: rgb(60, 216, 187);}
 .search-icon {background:unset;color:white;}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

    .menu-brand a:link, .menu-brand a:visited{color: #ff0000;}
    .menu-brand a:hover:not(.active), .menu a:hover:not(.active) { color:rgb(216, 196, 255);} 

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
   
   .menu-brand a:link, .menu-arrow.left,.menu-arrow.right{color: rgb(255, 255, 255);}
    
   
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    
    .burger-line{background-color:aliceblue}
    .menu-toggle {color:white;background-color: transparent;}
    .menu-toggle:hover{background-color: transparent;color:rgb(255, 128, 204);}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

    .menu-list {border : 2px solid #575757}
    .menu-list a:link  {color: pink;}
  
    .scrollmenu-container {background-color: rgb(0, 0, 0);border-radius:15px ;}
  div.scrollmenu a:link:hover{color:rgb(0, 255, 68);}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    
    .pink-background {background-color: hsl(354, 24%, 17%);border-radius:15px;padding: 10px;}
    .blue-background {background-color: #37233a;border-radius:15px;padding: 10px;}
    .blue1-background {background-color: #293545;border-radius:15px;padding: 10px;}
    .green-background {background-color: #365048;border-radius:15px;padding: 10px;}
    .yellow-background {background-color: #505431;border-radius:15px;padding: 10px;}
    .orange-background {background-color: #4e3a2f;border-radius:15px;padding: 10px;}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    
    .color-content1 {color:pink}
    .color-content2 {color:rgb(125, 209, 141)}
    .color-content3 {color:#f4bcf4}
    .color-content4 {color:#b8ffcc;}
    .color-content5 {color:rgb(243, 140, 255)}
    .color-content6 {color:#cfc3ff;}
    .color-content7 {color:#e2e2a1}
    .color-content8 {color:#fcf9bf}
    .color-content9 {color:rgb(255, 156, 156)}
    .color-content10{color:#ff6347;}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    
.overlay {visibility: hidden;background-color: rgba(40, 40, 40, 0.6);transition: all 0.3s ease-in-out;}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
 
.dropdown:hover {color:yellow}
.dropdown-container a {color: white !important;}
.close-icon {color:#ffffff;}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
 
.sqrts span {border-top: 1px solid #faf4f4;}
.sqrt span {border-top: 1px solid #e5e5e5;}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
 
#myTable tr:hover, table tr:hover {background-color: #0a4c57;}
#myTable td:hover , table td:hover {color:yellow;}
#mytable td , table td {color: white;}
table th {background-color: rgba(94, 94, 94, 0.843); color:black;}

#myTable tr:nth-child(odd) {background-color: #000000;}
table {border: 0px solid #e1e1e1;} 
#myUL li a {border: 1px solid #022D34;background-color: #0b2024;color: white;} 
#myUL li a:hover:not(.header) {background-color: #0a4c57;}
#myTable th, #myTable td {color:rgb(255, 255, 255);} 
table tr:hover{background-color:transparent;}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
 
#mtable tr:nth-child(even){background-color: black;} 
#mtable tr:hover {background-color: red;}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
 

.accordion {background:rgb(0, 0, 0);color:#e5e5e5;}
.accordion:hover {background-color: rgb(25, 65, 52);color: rgb(255, 255, 255);} 
.panel:hover {color: rgb(136, 135, 135); } 
.panel {color:rgb(214, 155, 155);background-color: rgb(37, 30, 35);} 
.heading-box {float:right;width: 100%;color:white;}.burger-line {background: white;}
.page-button{background-color:#f2f2f2;border:1px solid#ddd;}
.page-button.active-page{background-color:dodgerblue;color:white;}
.page-numbers { border: 1px solid #ddd;border-radius: 5px; /* Add rounded corners */color: #ffffff; /* Text color for page numbers */transition: background-color 0.3s, color 0.3s;}


/*-------Maths Color Symbols-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
 
.frac span.bottom {border-top: thin solid rgb(255, 255, 255);}
.sqrts span {border-top: 1px solid #faf4f4;}
.sqrt span {border-top: 1px solid #e5e5e5;}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
 
.pagination li.disabled a { background-color:#ddd;}
.apostrophe {color: orange;}
.dropdown-btn{color:pink;}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
 
iframe {width:100%;height:600px;border: none;background-color: #000000;color:#c9c6c6}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
a:link {text-decoration: none;}
a:visited,a:link{color:pink;}
a.active {color: rgb(192, 255, 200);}
    
textarea {width:100%;height:600px;background-color: #39393a;border: none;color: #acaaaa;padding: 10px;margin-top: 2.1%;}}

/*=========================================================================================================================================================================================*/
/*=========================================================================================================================================================================================*/
/*=========================================================================================================================================================================================*/
/*=========================================================================================================================================================================================*/

.header, .menu-inner,.menu-brand,#themeToggle,.search-input,.navbar ,  .search-icon  .back-icon,.search-container1.open {background-color: rgb(255, 239, 249);}
.menu-brand a:link, .menu-arrow.left,.menu-arrow.right{color: rgb(0, 0, 0);}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.header {box-shadow:  0 4px 6px -1px rgba(123, 123, 123, 0.284), 0 2px 4px -1px rgba(82, 81, 81, 0.226);}  
.header, .menu a:link, .menu a:visited {color: rgb(0, 0, 0);} 
.header, .menu a.active {color: rgb(255, 0, 0);}
.header {position: fixed;left: 0;top: 0;width: 100%;height: auto;z-index: 10;margin: 0 auto;}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


.menu-toggle {color:green;background-color: transparent;}
.menu-toggle:hover{color:red;cursor: pointer;}
.burger-line{background-color:rgb(0, 0, 0)}/*
.menu-brand a:link, .menu-brand a:visited{color: #ff0000;}*/


/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

 #themeToggle {z-index: 11;position: fixed;top: 12px;right: 5px;padding: 0px 0px;border: none;cursor: pointer;border-radius: 50%;font-size: 16px;display: flex;align-items: center;gap: 10px;}
 #themeIcon {width: 30px;height: 30px;transition: transform 0.5s ease;z-index: 1000;}
 [data-theme="dark"] #themeIcon {transform: rotate(360deg);}
 [data-theme="light"] #themeIcon {transform: rotate(0deg);}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

 .menu-list {background-color: rgb(255, 239, 249);border: 2px solid #d2d2d2;}
 .menu-list a:link{color:rgb(0, 0, 0);}
 .menu-list li a.active {background-color: rgb(183, 33, 171);color:white;margin-right: 30px;}
 .menu-list a:hover:not(.active) {color:white; background-color: rgb(1, 147, 71); margin-right: 30px;}
 .menu-list {top:50px; width:220px; line-height: 50px;margin-left: -10px; font-size: 19px; display: none;overflow-y: auto;position: fixed;z-index: 1;height: 100%; padding: 10px;}
 .menu-list li {line-height: 3; /* Li ki line-height 2 */list-style: none; /* Bullet points ko hatane ke liye */text-align: left;list-style-type: none;}
 .menu-list li a {display: block; /* Puri li ko clickable banane ke liye */line-height: 1.2; /* Link ke text ke liye line-height normal */padding: 10px; /* Hover area ke liye padding */white-space: normal; /* Multiline allow karne ke liye */word-break: break-word; /* Word wrap hone de */text-decoration: none; /* Link underline hatane ke liye */width: 100%; /* Full width le raha hai */box-sizing: border-box; /* Box model ko correct karne ke liye */}
 .menu-list a:link, .menu-list a:visited, .menu-list a.active{margin:10px}
 .menu-list::-webkit-scrollbar {display: none; /* Scrollbar ko hide karega */}

/*------------------------------------------------------------------------------------------------------------------------------------------*/

.menu{height:100%;}
.menu-link {font-family: inherit;font-size: 18px;font-weight: 500;line-height: 1.5;text-transform: uppercase;transition: all 0.3s ease;}
.menu.is-active {top: 0;left: 0;}
.menu-inner {display: flex;flex-direction: column;row-gap: 1.25rem;overflow-x: auto;white-space: nowrap;position: relative;height: 100%;}
.menu-inner a {text-decoration: none;margin-left: 10px;padding: 10px;}
.back-arrow,.menu-brand {display: none; /* Hidden by default */}
.menu-arrow {position: absolute;top: 58px;transform: translateY(-50%);width: 2rem;height: 2rem;font-size: 30px;display: flex;align-items: center;justify-content: center;cursor: pointer;}
.menu-arrow.left {left: 0px;z-index: 100;}
.menu-arrow.right {right: 0px;}a:link {text-decoration: none;} 
.menu-inner a:hover:not(.active) { color: rgb(255, 255, 255);background-color: blue;}
.overlay {position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 9;opacity: 0;visibility: hidden;background-color: rgba(0, 0, 0, 0.6);transition: all 0.3s ease-in-out;}
.overlay.is-active {display: block;opacity: 1;visibility: visible;}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.burger {position: relative;display: block;cursor: pointer;order: -1;width: 1.6rem;height: auto;border: none;outline: none;visibility: visible;}
.burger-line {display: block;cursor: pointer;width: 100%;height: 2px;margin: 6px auto;margin-left: 10px;transform: rotate(0deg);border-radius: 1rem;}
.menu-toggle {top:50px;display: block;position: fixed;margin:0;font-size: 20px;}

/*------------ body responsive -------------------------------------------------------------------------------------------------------------------------*/
.container {max-width: 98%;margin: 0 auto;margin-top: 80px;text-align: justify;line-height: 2;}
.custom-container {display: flex;flex-direction: column;padding: 2px;} 
.custom-row { display: flex;flex-direction: row;margin-bottom: 20px;} 
.custom-column { flex: 1;}
.custom-column:last-child {margin-right: 0;}
.important_link {top:0;overflow-y: auto;font-size: 21px;}
div.scrollmenu {overflow: auto;white-space: nowrap;border-radius:15px ;} 
.scrollmenu-container {background-color: rgb(80, 73, 79);border-radius:15px ;}

div.scrollmenu a { font-size: 20px; display: inline-block;text-align: center;padding: 14px;text-decoration: none; }
.arrow {padding: 10px;
font-weight: bold;
  cursor: pointer;
 
  user-select: none;
}
.scrollmenu-container {background-color: rgb(255, 255, 244);border-radius:15px ;
  display: flex;
  align-items: center;

  
}div.scrollmenu a:link:hover{color:rgb(111, 0, 255);}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.pink-background {background-color: hsl(354, 70%, 95%);border-radius:15px;padding: 10px;}
.blue-background {background-color: #f9f0fa;border-radius:15px;padding: 10px;}
.blue1-background {background-color: #e9f0f9;border-radius:15px;padding: 10px;}
.green-background {background-color: #e6f8f3;border-radius:15px;padding: 10px;}
.yellow-background {background-color: #f6f8e6;border-radius:15px;padding: 10px;}
.orange-background {background-color: #faefe9;border-radius:15px;padding: 10px;}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.color-content1 {color:rgb(171, 8, 54)}
.color-content2 {color:rgb(11, 70, 198)}
.color-content3 {color:#6d0658}
.color-content4 {color:#ff3737}
.color-content5 {color:rgb(154, 41, 41)}
.color-content6 {color:#d41cde}
.color-content8 {color:#006067}
.color-content7 {color:#1e3b1c}
.color-content9 {color:rgb(78, 76, 217)}
.color-content10 {color:#000000}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.apostrophe {color: brown;}

/*----------------------------------------------------------------------------------------------------------------------------------------------*/

.dropdown {cursor: pointer;}
.dropdown-container {display: none;border-radius: 15px;}
.dropdown-container {padding-left: 25px;display: none;width: 100%;background-color: #ccc;border-radius: 15px;}
.dropdown-container a {color: rgb(150, 0, 0) !important;}
.dropdown-container a:hover{color:white !important} 
.dropdown-content {display: none;z-index: 1;}
.dropdown-content li {display: block;}
.dropdown-content li a {padding: 20px;text-decoration: none;}
.dropdown-content li:hover > ul {display: block;}
.dropdown-content ul {position: absolute;top: 0;left: 100%;display: none;min-width: 200px;}
.dropdown:hover {color:#0bab23;font-weight: bold;}
.dropdown-btn:hover {color: #f1f1f1;background-color: green;cursor: pointer;border-radius: 10px;}

/*----------------------------------------------------------------------------------------------------------------------------------------------*/

.pagination {display: flex;list-style-type: none;padding: 0;overflow: auto; /* Scrollbar hoga agar buttons ek line me nahi aa rahe hain */}
.pagination li {margin: 5px;padding:5px;white-space: nowrap; /* Pagination buttons ek line me fit honge */}
.pagination li.disabled a {color:black;background-color: #ddd;pointer-events: none;cursor: default;}
.pagination a {color:rgb(255, 255, 255);background-color: #ffffff;text-decoration: none;padding: 5px 10px;border: 1px solid #ddd;border-radius: 5px;}
.pagination a.active {border-radius:12px;background-color: dodgerblue;color: white;}
.pagination a:hover:not(.active) {background-color:#ddd;}

/*------------------------------------------------------------------------------------------------------------------------------------------*/

.page-button{margin:5px;background-color:#f2f2f2;border:1px solid#ddd;padding:5px10px;cursor:pointer;}.page-button.active-page{background-color:dodgerblue;color:white;border-radius:7px;}
.page-numbers {margin: 0 10px; /* Add spacing between page numbers */cursor: pointer;padding: 5px 10px; /* Add padding to the page numbers */border: 1px solid #ddd;border-radius: 5px; /* Add rounded corners */color: #333; /* Text color for page numbers */transition: background-color 0.3s, color 0.3s;}
.page-numbers.current {font-weight: bold;background-color: #007bff; /* Blue color for current page */color: white; /* Text color for current page */}
.page-numbers:hover {background-color: #ddd; /* Gray background color on hover */color: #333; /* Text color on hover */}

/*------------------------------------------------------------------------------------------------------------------------------------------*/

.accordion-container {width:100%;display: flex;flex-direction: column;}
.accordion-item {border-radius: 10px;display: flex;flex-direction: column;margin-bottom: 30px;}
.accordion-item {border-radius: none;display: flex;flex-direction: column;margin-bottom: 30px;margin-bottom: 10px;border: 1px solid #ccc;padding: 10px;}
.accordion .title-content {display: flex;}
.accordion .title-content img { margin-right: 15px;}
.accordion .icon {display: flex;  }
.accordion {display:flex;cursor: pointer;  border-radius: 10px;text-align: left;outline: none; padding: 5px;margin-bottom:10px;} 
.panel {border-radius: 10px;color:blue;padding: 10px;display: none;overflow: hidden;margin-bottom:25px;} 
.accordion-box { display: flex;align-items: center;}
.accordion-box img {max-width: 120px;height: 100px;margin-right: 10px;}
.box {display: flex;align-items: center;}
.accordion img, .panel img {border-radius: 10px;width: 200px;height: 120px;}

/*----------------------------------------------------------------------------------------------------------------------------------------------*/

div.scrollmenu {overflow: auto;white-space: nowrap;} 
div.scrollmenu::-webkit-scrollbar {display: none;}
div.scrollmenu a {display: inline-block;text-align: center;padding: 14px;text-decoration: none; }

/*-------------------------------------------------------------------------------------------------------------------------------*/

.scrollmenu-container {background-color: rgb(249, 249, 239);border-radius:15px ;display: flex;align-items: center;}

/*-------------------------------------------------------------------------------------------------------------------------------------*/

#mtable {border-collapse: collapse;}
#mtable td, #mtable th {border: 1px solid #ddd;padding: 8px;}
#mtable tr:nth-child(even){background-color: #FFF8DC;}
#mtable tr:hover {background-color: #F5DEB3;}
#mtable td {text-align: center;}

/*-------------------------------------------------------------------------------------------------------------------------------------*/
#myul{padding: 0;list-style: none;}
#myUL li a {justify-content: center  ;width:auto;border: 1px solid green;margin-top: 10px; background-color: none;padding: 10px;margin: 10px;text-decoration: none;color: black;display: block;border-radius:8px;} 
#myUL li a:hover:not(.header) {background-color: hsl(240, 54%, 90%);border: 1px solid rgb(247, 246, 246);}

/*-------------------------------------------------------------------------------------------------------------------------------------*/

#myTable {border-collapse: collapse;width: 100%;;border: 1px solid #ddd;} 
#myTable th, #myTable td {padding: 10px;font-size: 17px; text-align: left;color:#000000} 
#myTable tr {border-bottom: 1px solid #ddd;} 
#myTable tr:hover , table tr:hover {background-color: rgb(238, 235, 235);} 
#myTable td:hover, table td:hover{color:red;}

#myTable tr:nth-child(odd) {background-color: #f5f2ff;}
table {
  border-collapse: collapse;
  width: 100%;

}
table td {
  padding: 10px;
}
table td a:link {
  color: rgb(55, 0, 255);
 
}
table td a:visited {
  color: rgb(55, 0, 255); /* Color for visited links */
}
table td a:link:hover , td a:visited:hover{ display: block; color:white;background-color: rgb(89, 0, 255);border-radius: 8px;
   /* Color change on hover */
} 
table tr:hover{background-color:transparent;}



/*-------------------------------------------------------------------------------------------------------------------------------*/

.button {margin: 20px;}
.custom-btn {width: 300px;height: 150px;color: #fff;border-radius: 10px;padding: 10px 25px;font-size: 22px;font-weight: 500;background: transparent;cursor: pointer;transition: all 0.3s ease;position: relative;display: inline-block; box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);outline: none;text-align: center;}
.custom-btn a:link {color: #fff;font-size: 35px;text-decoration: none;}
.custom-btn a:visited {color: rgb(250, 250, 250);}
.btn-2 {background: rgb(96,9,240);background: linear-gradient(0deg, rgba(96,9,240,1) 0%, rgba(129,5,240,1) 100%);border: none;}
.btn-2:before {height: 0%;width: 2px;}
.btn-2:hover {background: linear-gradient(45deg, red 0%, rgba(129,5,240,1) 100%);}

/*----------------------------All Link---------------------------------------------------------------------------------------------------------*/

a:link {text-decoration: none;}
a:visited,a:link{color:rgb(0, 0, 0);}



/*======================Maths Symbol ====================================================================================================*/

.frac {display: inline-block;position: relative;vertical-align: middle;text-align: center;}
.frac > span {display: block;}
.frac span.bottom {border-top: thin solid rgb(0, 0, 0);}
.frac span.symbol {display: none;}

/*----------------------------------------------------------------------------------------------------------------------------------------*/


.sqrts {position: relative;display: inline-block;vertical-align: middle;}
.sqrts::before {content: '√';font-size: 1.4em;position: absolute;top: -0.15em;left: -0.5em;}
.sqrts span {border-top: 1px solid #000;padding-left: 0.6em;}

/*----------------------------------------------------------------------------------------------------------------------------------------*/


.sqrt {position: relative;display: inline-block;vertical-align: middle;}
.sqrt::before {content: '√';font-size: 1.4em;position: absolute;top: -0.10em;left: -0.52em;}
.sqrt span {border-top: 1px solid #000;padding-left: 0.6em;padding: 6px;}

/*----------------------------------------------------------------------------------------------------------------------------------------*/


.sqrtt {position: relative;display: inline-block;vertical-align: middle;}
.sqrtt::before {content: '√';font-size: 1.4em;position: absolute;top: -0.10em;left: -0.52em;}
.sqrtt span { border-top: 1px solid #000; padding-left: 0.6em; padding: 6px;}


/*-------------------------------------------------------------------------------------------------------------------------------*/

.image-link {display: inline-block;width: 65px;height: 65px;text-align: center;} 
.image-link img {width: 40%;height: 40%; } 
.image-link p {margin-top: 10px;}

/*==================================================================================================================================================================================*/

.start-btn, .next-btn, .skip-btn, .submit-btn {border-radius: 15px;border: none;background-color: #098bcb;color: white;cursor: pointer;padding: 15px;width: 200px;}
.start-btn {background-color:blue;}
.next-btn,.submit-btn,#timer {float: right;}


.review-btn, .retry-btn {border-radius: 15px;border: none;background-color: #098bcb;color: white;cursor: pointer;padding: 15px;}
.retry-btn{float:right;}
.question {border-radius: 15px;margin:0px;border: 2px solid #ccc;margin-bottom: 100px;font-weight: bold;font-size: 18px;padding: 15px;position: absolute;left: 50%;transform: translateX(-50%);width: 75%;}
.options label {display: block;margin: 5px;padding: 15px;font-weight: 100;margin-bottom: 10px;border-radius: 15px;cursor: pointer;}
.options label:hover {background-color: lightblue; /* Light blue background on hover */}
.options input[type="radio"] {display: none; /* Hide radio buttons */}
.options input[type="radio"]:checked + label {background-color: blue;color: white;}
.submit-btn, .next-btn, .skip-btn {margin-top: 10px;}
#result {width: 80%;margin-top: 20px;font-weight: bold;}
#review-questions {width: 80%;border: 1px solid #ccc;display: none;border-radius: 10px;padding: 15px;margin-top: 20px;position: absolute;left: 50%;transform: translateX(-50%);}

.modal {display: none;position: fixed;z-index: 1;width: 80%;position: absolute;left: 50%;transform: translateX(-50%);top:10%;overflow: auto;text-align: center;}
.modal-content { background-color: #fefefe; margin: auto; font-size: 19px; padding: 60px; border: 1px solid #888;margin-bottom: 10px; text-align: left; border-radius: 15px;}
.close {color: #aaa;float: right;font-size: 28px;font-weight: bold;}
.close:hover,.close:focus {color: black;text-decoration: none;cursor: pointer;}
.start-btn, .close-btn, .review-btn, .retry-btn {margin-top: 20px;padding: 10px 20px;font-size: 16px;}
.retry-btn {background-color: #f44336; /* Red */color: white;border: none;padding: 10px 24px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;margin: 4px 2px; cursor: pointer; transition-duration: 0.4s;}
.retry-btn:hover {background-color: #da190b; /* Darker red on hover */}
.correct-answer {padding: 15px;border-radius: 15px;color: rgb(5, 165, 5);}
.incorrect-answer {padding: 15px;border-radius: 15px;color: red;}

/*==================================================================================================================================================================================*/
.heading-box {float:right;width: 100%;}
button {margin: 0px;padding:10px;border:none;cursor: pointer;}
.connected {display: flex;}
#filterInput  {padding: -10px 30px;margin:8px 0;width:100%; } 

.popup {text-align: left;}
.title-content {display: inline;text-align: center;align-items: center;}
a[href="current_page.html"] {border-radius: 15px; border: 2px solid rgb(5, 129, 11); /* Add a red border */ padding: 1px; /* Add some padding for better visibility */ text-decoration: none; /* Remove underlines from the link */}
.frame {width: 90%;margin: 40px auto;text-align: center;}
#search {
  background-size: 20px; /* Set the width of the image */
  padding: 12px 20px 12px 40px;border: 1px solid #ddd;margin-bottom: 12px;} 
  

/*==================================================================================================================================================================================*/

.at{display: flex;padding:10px;align-items: center;border: 1px solid white;border-radius:10px;  background: linear-gradient(to left,#e6e6e6,#ff99c2,#ffff99,#b3ffcc,#ecc6c6,#ccccff,   transparent, transparent);background-size: 400%;justify-self: center;animation: text_animation 20s linear infinite;}  @keyframes text_animation {0% {background-position: 100%;}100% {background-position: 0%;}}
.outline {text-shadow: 0.5px 0px 0px white, -0.5px 0px 0px white, 0px 0.5px 0px white, 0px -0.5px 0px white;}
footer {text-align:center;}
h1, h2  {text-align: center;}

/*=========================================================================================================================================================================================*/


.circle {position: relative;width: 10px;height: 10px;border-radius: 50%;animation: border-animation 5s infinite;} @keyframes border-animation {0% {border: 10px solid #ff0000;} 33% {border: 10px solid #00ff00;} 66% {border: 10px solid #0000ff;} 100% { border: 10px solid #ff0000;}} 
.circle-text {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);font-weight: bold;} 
.circle-container {display: flex;justify-content: center;align-items: center;} 
.circle {position: relative;width: 100px;height: 100px;border-radius: 50%;animation: border-animation 5s infinite;} @keyframes border-animation { 0% {border: 5px solid #ff0000;} 33% { border: 5px solid #00ff00;} 66% {border: 5px solid #0000ff;} 100% {  border: 5px solid #ff0000;}}

/*=========================================================================================================================================================================================*/

button[type="submit"] {padding: 5px 10px;border-radius: 5px;border: none;background-color: #007bff;cursor: pointer;}
button[type="submit"]:hover {background-color: #0056b3;}
#output {margin-top: 20px;font-weight: bold;text-align:center;}

.animation {justify-self: center;text-align: center;background: linear-gradient(to right, red, green, orange, pink, red);background-clip: text; -webkit-text-fill-color:transparent; -webkit-background-clip: text; background-size: 500%; animation: text_animation 40s linear infinite;}


main {overflow: hidden;}

.default-color {padding: 15px;}
/*=========================================================================================================================================================================================*/


.blue-text {color: blue;font-weight: bold;padding: 15px;}
.selected {background-color: blue !important;color: white;} 
.box:hover{background-color:red;} 
.link-name{ color:white;}


/*=========================================================================================================================================================================================*/


textarea {width:95%;height:600px;margin:10px; border: 2px solid #ccc; color: #0f0f0f;border-radius: 10px; padding: 1px;margin-top: 2.1%;}
iframe {width:95%;height:600px;margin:10px;border: 2px solid #ccc;border-radius: 10px;}
hr{height: 5%;}

 .search-container {
            position: fixed;
            top: 7px;
            right: 40px;
            display: flex;
            align-items: center;
            transition: all 0.3s ease-in-out;z-index:9999;
        }

        .search-icon {background:unset;color:black;margin-top:-10px;
            font-size: 38px;
            cursor: pointer;
            padding: 10px;
            border: none;
            border-radius: 50%;
            outline: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .back-icon {margin-top:-5px;
            font-size: 22px;
            cursor: pointer;
            padding: 10px;
            border: none;
            border-radius: 50%;
            outline: none;
            display: none;
            margin-right: 0px;
        }

        .search-input {
            width: 0;
            height: 40px;
            padding: 0 10px;
            border: 1px solid #ddd;
            border-radius: 20px;
            outline: none;
            font-size: 16px;
            transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out, padding 0.3s ease-in-out;
            opacity: 0;
        }

        .search-container.active {
            justify-content: flex-end;
        }

        .search-container.active .back-icon {
            display: flex;
        }

        .search-container.active .search-icon {
            display: none;
        }

        .search-container.active {
            width: 100%;
            right: 5px;
        }

        .search-container.active .search-input {
            width: calc(100% - 70px);
            opacity: 1;
        }

        .suggestions, #results {position:fixed;
            border: 1px solid #ccc;
            max-width: 500px;
            margin: 80px auto 0;
            text-align: left;
            padding: 0;
            list-style: none;
            position: absolute;
            background-color: #fff;
            width: 80%;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            z-index: 1000;
            left: 50%;
            transform: translateX(-50%);
            display: none; /* Initially hidden */
        }

        .suggestions li, #results .result-item {
            padding: 10px;
            cursor: pointer;
        }

        .suggestions li:hover, #results .result-item:hover {
            background-color: #007bff;
            color: white;
        }

        .highlight {
            background-color: yellow;
        }

        #results {
            text-align: center;
        }

        #results .result-item {
            display: flex;
            align-items: center;
            padding: 10px;
            margin: 5px auto;
            background-color: #f9f9f9;
            text-decoration: none;
            color: #333;
            border-radius: 4px;
            width: 80%;
            max-width: 500px;
            transition: background-color 0.3s;
        }

        #results .result-item:hover {
            background-color: #007bff;
            color: white;
        }

        #results .result-item img {
            max-width: 50px;
            max-height: 50px;
            margin-right: 10px;
        }

        #results .result-content {
            text-align: left;
        }

        #results .result-title {
            font-size: 18px;
            font-weight: bold;
        }

        #results .result-paragraph {
            font-size: 14px;
            margin-top: 5px;
            overflow: hidden; /* Hide overflow */
            display: -webkit-box; /* For WebKit-based browsers */
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3; /* Show only 3 lines */
            max-height: 4.5em; /* Adjust height to fit 3 lines */
        }

/*============================================================================================================================================================================================================================================================================================================*/
/*=========================================================================================================================================================================================*/
/*=========================================================================================================================================================================================*/
/*=========================================================================================================================================================================================*/

@media screen and (min-width: 769.01px)  {




  
  .navbar {font-size: 15px;position: relative;display: flex;flex-direction: row;align-items: center;justify-content: space-between;width: 100%;height: 60px !important;margin: 0 auto;}
  .menu-brand a:hover:not(.active), .menu a:hover:not(.active) { color: rgb(69, 1, 255);background-color: transparent;}
  .burger {display: none;visibility: hidden;}
  .brand {font-family: inherit;font-size: 1.6rem;font-weight: 600;text-transform: uppercase;margin-left: 15px;margin:6px}
  .menu {text-align: center !important;margin-top: -10px;font-size: 22px;height: auto;box-shadow: none;align-items: center;align-items: center;width: auto; /* Set the maximum width */max-width: 70%;position: absolute;left: 50%;top: 30%;transform: translate(-50%, -50%);}
  .menu a {display: block; /* Make links block-level elements */margin: 0 auto 0px; /* Add 20px gap below each link */margin-left: 10px;text-decoration: none; /* Remove underline from links */width: fit-content;}
  .menu-inner {display: flex;flex-direction: row;margin-right: 3rem;margin-left: 3rem; margin-top:18px !important}
  .menu-inner::-webkit-scrollbar {display: none; /* Hide the default scrollbar */}
  .menu-toggle {display: none;}
  #themeToggle {z-index: 11;position: fixed;top: 13px;right: 15px;padding: 0px 0px;border: none;}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
  
  
  .menu-list {top:60px;width:16%;display: block;overflow-y: auto;margin:-10px ;}
  .menu-list::-webkit-scrollbar {display: none; /* Scrollbar ko hide karega */}
  .menu-list li { line-height: 3; /* Li ki line-height 2 */list-style: none; /* Bullet points ko hatane ke liye */}
  .menu-list li a { display: inline; /* Multiline ke liye inline rakhein */ line-height: 1; /* Sirf a tag ke liye line-height normal */}
  .menu-list li a {display: inline-block; /* Inline-block ke liye display */vertical-align: middle; /* Vertically center */line-height: 1.2; /* Link ke text ke liye line-height normal */white-space: normal; /* Multiline allow karne ke liye */word-break: break-word; /* Word wrap hone de */text-decoration: none; /* Link underline hatane ke liye */}
 

  
 /*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

  .important_link{position:fixed;left:83%;height:100%;width:17%;padding:1em;margin-bottom:20px;top:0%;}
  .container {max-width: 65%;margin: 0 auto;margin-top: 60px;text-align: justify;line-height: 2;}
 
  .custom-container {display: flex;flex-direction: column;padding: 6px;} 
.custom-row{padding: 4px;}
.custom-column{padding: 10px;}
.search-container.active .search-input {
        width: calc(81% - 70px);
        opacity: 1;
}
  .search-icon {
      
        margin-top: -14px;}
  .search-container {
        position: fixed;
        top: 11.5px;
}}
/*===============================================================================================================================================================================================================================================================*/
/*=========================================================================================================================================================================================*/
/*=========================================================================================================================================================================================*/
/*=========================================================================================================================================================================================*/

@media screen and (min-width: 320.01px) and (max-width: 768px) {
 
  .menu { position: fixed;margin-top: 55px;font-size: 18px;left: -100%;width: 255px;z-index: 10;overflow: auto;box-shadow: var(--shadow-medium); transition: all 0.5s ease-in-out;}
  .menu-inner::-webkit-scrollbar {display: none; /* Scrollbar ko hide karega */}
  .menu.is-active .back-arrow {font-size: 32px; display: inline-block; position: fixed;padding: 5px;top: 0;left: 185px;width: 50px; ;z-index: 10000; transition: all 0.3s ease;background-color: transparent;text-align: center;cursor: pointer;}
  .menu.is-active .menu-brand {display: inline-block;position: fixed;text-indent: 10px; text-align: left;color:red; top: 0px;left: 0px;width: 233px; padding: 11px; z-index: 1000; transition: all 0.3s ease;}
  .menu-arrow.left {display: none;}
  .menu-arrow.right {display: none;}
  .menu-brand {font-size: 26.5px;text-decoration: none; color: #ff0000;text-align: center;margin-left: 0px; /* Adjust to fit next to the back arrow */}
  .burger.hide {display: none;}
  .brand {font-family: inherit;font-size: 1.6rem;font-weight: 600;text-transform: uppercase;color: blue;position: absolute;left: 50%;transform: translateX(-50%);}
  .navbar {font-size: 15px;position: relative;display: flex;flex-direction: row;align-items: center;justify-content: space-between;width: 100%;height: 55px !important;margin: 0 auto;}
     .search-icon {margin-top:-14px;}
    
  .search-container { top: 6px;}
  

/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

}
 
@media screen and (max-width: 320px) {
  
  .header {box-shadow:  0 4px 6px -1px rgba(123, 123, 123, 0.284), 0 2px 4px -1px rgba(82, 81, 81, 0.226);}
  .menu {position: fixed;margin-top: 31px;font-size: 15px;left: -200px;width: 156px;height: 100%;z-index: 10;overflow-y: auto;box-shadow: var(--shadow-medium);transition: all 0.5s ease-in-out;}
  .menu-list{width: 150px;top:12px;}
  .menu-inner::-webkit-scrollbar {display: none; /* Scrollbar ko hide karega */}
  .menu-toggle{top: 25px;font-size: 18px;}
  .brand {top: 2.5px;font-family: inherit;font-size: 18px;font-weight: 600;text-transform: uppercase;position: absolute;left: 50%;transform: translateX(-50%);}
  .navbar {font-size: 15px;position: relative;display: flex;flex-direction: row;align-items: center;justify-content: space-between;width: 100%;height: auto;margin: 0 auto;}
  .search-icon {margin-top:-17px; }
  .search-container { top: -1px}
 
 /*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/ 
 
 /*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
 
 #themeToggle {position: fixed;margin: 0;padding: 0;top: 0px !important;}
 
 /*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
 
 .menu.is-active .back-arrow {display: inline-block; /* Show when menu is active */position: fixed; /* Fix position at the top */font-size: 22px;top: 0;left: 117.9px;padding: 4px; /* Shadow for both */ background-color: transparent;  z-index: 10000; /* Stay on top */  transition: all 0.3s ease; width: 30px;text-align: center;}
 .menu.is-active .menu-brand {display: inline-block;position: fixed;top: 0;left: 0px;width: 144px;padding: 6px;text-indent: 10px; text-align: left;color:red;cursor: pointer;z-index: 1000; /* Stay on top */cursor: pointer;transition: all 0.3s ease;}
 .menu-arrow.left {display: none;}
 .menu-arrow.right {display: none;}



}
/*======== Brand Animation ====================================================================================================================================================================================================================================================================================================*/
 
@keyframes fadeInScale {0% {opacity: 0;transform: scale(0.8);}50% {opacity: 0.5;transform: scale(1.1);}100% { opacity: 1; transform: scale(1);}}

/*============================================================================================================================================================================================================================================================================================================*/
/*=========================================================================================================================================================================================*/
/*=========================================================================================================================================================================================*/
/*=========================================================================================================================================================================================*/
 
@media screen and (max-width: 768px) {

                                      
  .accordion-item .title-content {flex: 1;}
  .accordion .title-content {display: inline;text-align: center;align-items: center;}
  .accordion-item img {width: 350px;height: 220px;}
  .accordion .icon {display: none;}
  .title-content {display: inline;text-align: center;align-items: center;}
  .hide-brand {position: absolute;left: 50%;transform: translateX(-50%);top: 25%;}

 /*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
 
.dropdown-container {padding-left: 25px;padding-top: 20px;display: none;width: 100%;border-radius: 15px;}
.important_link {top:0%;margin: 0 auto;padding: 0em;margin-bottom: 20px;}
.container {margin-top:14%;width: 100%;}
.custom-row {flex-direction: column;}
 .custom-column {flex: none; width: auto; margin-right: 0; margin-bottom: 20px;}
ol,ul,li{margin:0px;}




/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


.start-btn, .next-btn, .skip-btn, .submit-btn {border-radius: 15px;border: none;background-color: #098bcb;color: white;cursor: pointer;padding: 15px;width: 80px;}
.start-btn {background-color:blue;}
.next-btn,.submit-btn,#timer {float: right;margin-right: 30px;}
.review-btn, .retry-btn {border-radius: 15px;border: none;background-color: #098bcb;color: white;cursor: pointer;padding: 15px;}
.question {border-radius: 15px;border: 1px solid #ccc;margin-bottom: 100px;font-weight: bold;font-size: 18px;position: absolute;left: 50%;transform: translateX(-50%);width: 90%;}

.options label {display: block;margin: 5px;padding: 15px;font-weight: 100;margin-bottom: 10px;border-radius: 15px;cursor: pointer;}
.options label:hover {background-color: lightblue; /* Light blue background on hover */}
.options input[type="radio"] {display: none; /* Hide radio buttons */}
.options input[type="radio"]:checked + label {background-color: blue;color: white;}
.submit-btn, .next-btn, .skip-btn {margin-top: 10px;}
#result {width: 99%;margin-top: 20px;font-weight: bold;}
#review-questions {width: 95%; border: 1px solid #ccc;display: none; border-radius: 10px; padding: 0px; margin-top: 20px;position: absolute;left: 50%;transform: translateX(-50%);}

.modal {display: none;position: fixed;z-index: 1;width: 99%;position: absolute;left: 50%;transform: translateX(-50%);top:2%;overflow: auto;text-align: center;}
.modal-content { background-color: #fefefe; margin: 10px;padding: 10px;border: 1px solid #888;margin-bottom: 1px;text-align: left;border-radius: 15px;}
.start-btn, .close-btn, .review-btn, .retry-btn {margin-top: 20px;padding: 10px 20px;font-size: 16px;}
.retry-btn {background-color: #f44336;color: white;border: none;padding: 10px 24px;text-align: center;text-decoration: none;display: inline-block;cursor: pointer;transition-duration: 0.4s;}
#myTable th, #myTable td {padding: 10px;font-size: 12px; text-align: left;} 


/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/



.sqrt {position: relative;display: inline-block;vertical-align: middle;}
.sqrt::before {content: '√';font-size: 1.4em;position: absolute;top: -10.2em;left: -0.5em;}
.sqrt span {border-top: 1.5px solid #000;padding-left: 0.49em;}



.sqrts {position: relative;display: inline-block;vertical-align: middle;}
.sqrts::before { content: '√'; font-size: 1.4em; position: absolute; top: -0.24em; left: -0.525em;}
.sqrts span {border-top: 1.5px solid #000;padding-left: 0.6em;padding: 0px;}



.sqrtt {position: relative;display: inline-block;vertical-align: middle;}
.sqrtt::before {content: '√';font-size: 1.4em;position: absolute;top: -0.0em;left: -0.52em;}
.sqrtt span {border-top: 1.25px solid #000;padding-left: 0.6em;padding: 0.5px;}



}


/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/



#install-popup {
            position: fixed;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #5900b3;
            color: white;
            padding: 15px;
            border-radius: 10px;
            display: none;
            z-index: 1000;
        }

        #install-popup button {
            background-color: #fff;
            color: #5900b3;
            border: none;
            padding: 8px 15px;
            border-radius: 5px;
            cursor: pointer;
        }
